<!-- slide.html-->

{% extends "base.html" %}

{% block body %}
<!-- <script type=text/javascript> -->
  <!-- $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; -->
<!-- </script> -->

<script>
// $(document).ready(function() {
//   $.ajaxSetup({ cache: false,async: false, });
// });
window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Synchronous ajax request are deprecated so using navigator send beacon
    // $.getJSON($SCRIPT_ROOT + '/webofslides/log_action', {
    //     action: 'back_forward',
    //     route: window.location.pathname
    //   });
    logdata = JSON.stringify({
      action: 'cache_open',
      route: window.location.pathname
    });
    navigator.sendBeacon('/webofslides/log_action', logdata);
  }
  else{
    logdata = JSON.stringify({
      action: 'open',
      route: window.location.pathname
    });
    navigator.sendBeacon('/webofslides/log_action', logdata);
  }
});
window.addEventListener("beforeunload", function(event) { 
    logdata = JSON.stringify({
      action: 'close',
      route: window.location.pathname
    });
    navigator.sendBeacon('/webofslides/log_action', logdata);
  
});

                    

</script>

<div class="jumbotron" padding-bottom="15px">
  <div class="container" style="margin-left:0px;padding-left:0px" >
 
  <h2>Results</h2>
   <ul>
  {% for i in range(num_results) %}
  	<li><a href="/webofslides/search_slide/{{search_course_names[i]}}/{{lnos[i]}}/{{results[i]}}/{{i}}">{{disp_strs[i]}}</a>
  	<br>
	{{snippets[i]}}</li>
	{% endfor %}
  </ul>
</div>
  </div>
</div>

{% endblock %}