<!-- slide.html-->
{% extends "base.html" %}
{% block nav %}
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Lectures <span class="caret"></span></a>
         <ul class="dropdown-menu" style="height:auto; max-width: 905px;  max-height:  725px;overflow:scroll;opacity:0.97;background-color: #E8E8E8;">
{% for i in lnos %}
            <li><a href="/webofslides/slide/{{course_name}}/{{i}}">{{' '.join(lec_names[i].replace('.txt','').replace('_','-').split('-')).title()}}</a></li>
             {% endfor %}
          </ul>
        </li>
           
{% endblock %}

{% block body %}
<!-- <script type=text/javascript> -->
  <!-- $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; -->
<!-- </script> -->

<script>
// $(document).ready(function() {
//   $.ajaxSetup({ cache: false,async: false, });
// });
// });
window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Synchronous ajax request are deprecated so using navigator send beacon
    // $.getJSON($SCRIPT_ROOT + '/webofslides/log_action', {
    //     action: 'back_forward',
    //     route: window.location.pathname
    //   });
    logdata = JSON.stringify({
      action: 'cache_open',
      route: window.location.pathname
    });
    navigator.sendBeacon('/webofslides/log_action', logdata);
  }
  else{
    logdata = JSON.stringify({
      action: 'open',
      route: window.location.pathname
    });
    navigator.sendBeacon('/webofslides/log_action', logdata);
  }
});
window.addEventListener("beforeunload", function(event) { 
    logdata = JSON.stringify({
      action: 'close',
      route: window.location.pathname
    });
    navigator.sendBeacon('/webofslides/log_action', logdata);
  
});

                    

</script>

<div class="jumbotron" padding-bottom="15px">
  <div class="container" >
  <h2>{{' '.join(course_name.split('-')).title()}}</h2>
  <p>{{slide_name.split('----')[-1][:-4].title()}}</p>
    <div style="overflow:auto;-webkit-overflow-scrolling:touch">
  <iframe style="width:100%;height:600px" src="{{ url_for('static',  filename='slides/'+course_name+'/'+lec_name+'/'+slide_name, _external=True) }}"  
  ></iframe>
</div>
  <div class="container" style="padding-top:0px"></div>
  <button type="button" class="btn btn-success pull-left" onclick="location.href='/webofslides/prev_slide/{{course_name}}/{{lno}}/{{slide_name}}'">Prev Slide</button>
  <button type="button" class="btn btn-success pull-right" onclick="location.href='/webofslides/next_slide/{{course_name}}/{{lno}}/{{slide_name}}'">Next Slide</button>
  </div>
  <div class="container" style="margin-left:0px;padding-left:0px;padding-top:15px" >
 
  <h2>Related slides</h2>
   <ul>
  {% for i in range(num_related_slides) %}
  	<li>
      <!--<div class="tooltip">-->
      <a href="/webofslides/related_slide/{{related_course_names[i]}}/{{rel_lnos[i]}}/{{related_slides[i]}}" title="{{disp_snippet[i]}}" style="color:{{disp_color[i]}};">{{disp_str[i]}}</a>
<!--       <span class="tooltiptext">Tooltip text</span>
      </div>-->
    </li>
  	{% endfor %}
  </ul>
</div>
  </div>

</div>

{% endblock %}